<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/first.css')}}">
</head>
<body>
    <div class="start">
        <div class = "start-body">
                <p>Choose what option do you need?</p>
                <a class = "start-items" href="/retrieve_a_block">Retrieve a DataBase</a>
                <a class = "start-items" href="/retrieve_a_page">Retrieve a Page</a>
                <a class = "start-items" href="/retrieve_a_list">Retrieve a Project</a>
        </div>
    </div>

<script src = "pythonProject1/main.py"></script>
</body>

</html>